body {
    background-image: url(http://i.imgur.com/gg3sCSU.jpg) ;
    background-size:cover ;
    background-repeat: no-repeat ;
    font-family: monospace ;
    font-size: 2em ;
    
}

p {
    font-family: bitter;
    color: #B25A5A ;
    font-size: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: arial;
    font-size: 1.3em;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    font-family: bitter ;
    font-size: 2em ;
    line-height: 100%;
    margin: 0;
}

img {
    align-content: center;
}

#homeButton input {
    display: block;
    border: .2em solid #424242;
    background-color: #B20047;
    color: #800000;
    font-size: 16px;
    width: 6em;
    height: 3em;
    font-family: bitter;
}